#kozep {
    display: flex;
    justify-content: center;
}

#kartya { 
    margin-top: 120px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.445);
    width: 20%;
    margin-right: 2%; 
}

#kartya-szoveg {
    padding-left: 15px;
    padding-right: 35px;
    padding-bottom: 5px;
    padding-bottom: 50px;
}

h3 {
    font-size: small;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(255, 242, 0); 
    display: inline-block;
    margin-bottom: 2px;
}

h2 {
    font-size: large;
}

#tovabb {
    font-size: small;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px;
    border-style: solid;
    border-color: black;
    transition: background-color 0.3s ease;
}

#tovabb:hover {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

#kep, #kep1 {
    width: 100%;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#gradient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.dark-mode #gradient {
    background: linear-gradient(-45deg, #333333, #222222, #111111, #000000);
}

#sotetModGomb {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.dark-mode #kartya {
    background-color: #222; 
    color: #fff; 
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.445); 
}

.dark-mode h3 {
    background-color: rgb(64, 64, 64); 
    color: #fff; 
}

.dark-mode #tovabb {
    background-color: #444; 
    color: #fff; 
}

.dark-mode #tovabb:hover {
    background-color: #666;
}

#sotetModGomb {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.445);
    background-color: #ffffff30;
    color: #000000; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}



.dark-mode #sotetModGomb {
     box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.445); 
    background-color:  #4a4a4a56; 
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

section{
    background-color:white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:nth-child(odd){
    background: #ccc;
}

section:before{
    content: attr(data-text);
    color: #262626;
    font-size: 8em;
    text-transform: bold;
  
}

nav{
    position: fixed;
    top:0;
    background-color:#28231D;
    width: 100vw;
    
}

nav ul{
    display: flex;
    list-style: none;
    box-shadow: 0 15px 40px #000;  
    justify-content: center;
}

nav ul li{
    position:relative;
    padding: 10px;
    cursor: pointer;
    transition: .5s;
}

nav ul li a{
    text-decoration: none;
    color: inherit;
}

nav ul li:hover{
    color: #000;
}

nav ul li:before,
nav ul li:after{
    content: '';
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background:orange;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform .5s;
}

nav ul li:after{
    z-index:-2;
    filter: blur(20px);
}

nav ul li:hover:before,
nav ul li:hover:after{
    transform: scaleY(1);
}

#a2{
    color: aliceblue;
}

@media all and (max-width: 500px){
}

#container{
    margin-top: 30px;
}

::selection{
    background-color: #9400D3;
}
#a3{
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 768px) {
    #kozep {
      flex-direction: column;
      align-items: center;
    }
    #kartya {
      width: 80%;
      margin-right: 0;
      margin-bottom: 20px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 15px;
}

.toast {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  .toast img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }
  
  .close-btn {
    background: none;
    background-color: red;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  

  
  
